
// Farben
$hell-blau: #0ff;
$dunkel-blau: #00f;
$rot: #f00;
$fuchsia: #f0f;
$gruen: #0f0;
$gelb: #ff0;
$weiss: #fff;

$dunkel-grau: #313030;
$body-background-color: #313030;

$body-text-main-color: #fff;
$body-text-additional-color: #fafafa;

$link-color: $gruen;
$link-visited-color: $gruen;
$link-hover-color: $fuchsia;
$link-active-color: $gruen;

// BUTTON TEXT
$button-color: $dunkel-blau;
$button-visited-color: $fuchsia;
$button-hover-color: $weiss;
$button-active-color: $rot;

// BUTTON BACKGROUND
$button-background-color: $weiss;
$button-hover-background-color: $fuchsia;

// BUTTON BORDER
$button-border-color: $dunkel-grau;
$button-hover-border-color: $rot;

// BUTTON BOX-SHADOW
$button-box-shadow-color: $dunkel-grau;
$button-hover-box-shadow-color: #000;

$gradient-start-color: $gruen;
$gradient-end-color: $gruen;
