/* Der Rote Hund aus CSS-3-box-shadow */ 
.hund {
  box-shadow:
  /* von links nach rechts, oben nach unten */
    -6em -3em 0 0 red, /* nase oben */
    -6em -2em 0 0 red, /* nase unten */

    -5em -5em 0 0 red, /* linkes Ohr */
    -5em -4em 0 0 red,
    -5em -3em 0 0 red,
    -5em -2em 0 0 red,

    -4em -4em 0 0 red,
    -4em -3em 0 0 red,
    -4em -2em 0 0 red,

    -3em -5em 0 0 red, /* rechtes Ohr, Brust, linkes Vorderbein */
    -3em -4em 0 0 red,
    -3em -3em 0 0 red,
    -3em -2em 0 0 red,
    -3em -1em 0 0 red,
    -3em 0 0 0 red,
    -3em 1em 0 0 red,
    -3em 2em 0 0 red,
    -3em 3em 0 0 red,
    -3em 4em 0 0 red,

    -2em -2em 0 0 red, /* Bauch Reihe eins */
    -2em -1em 0 0 red,
    -2em 0 0 0 red,
    -2em 1em 0 0 red,

    -1em -2em 0 0 red, /* rechtes Vorderbein */
    -1em -1em 0 0 red,
    -1em 0 0 0 red,
    -1em 1em 0 0 red,
    -1em 2em 0 0 red,
    -1em 3em 0 0 red,
    -1em 4em 0 0 red,

    0 -2em 0 0 red, /* Bauch mittlere Reihe */
    0 -1em 0 0 red,
/*  0 0 0 0 red, M I T T E */
    0 1em 0 0 red,

    1em -2em 0 0 red, /* Bauch Reihe drei */
    1em -1em 0 0 red,
    1em 0 0 0 red,
    1em 1em 0 0 red,

    2em -2em 0 0 red, /* linkes Hinterbein */
    2em -1em 0 0 red,
    2em 0 0 0 red,
    2em 1em 0 0 red,
    2em 2em 0 0 red,
    2em 3em 0 0 red,
    2em 4em 0 0 red,

    3em -2em 0 0 red, /* Bauch Reihe vier */
    3em -1em 0 0 red,
    3em 0 0 0 red,
    3em 1em 0 0 red,

    4em -2em 0 0 red, /* rechtes Hinterbein */
    4em -1em 0 0 red,
    4em 0 0 0 red,
    4em 1em 0 0 red,
    4em 2em 0 0 red,
    4em 3em 0 0 red,
    4em 4em 0 0 red,

    5em -2em 0 0 red, /* Schwanz */
    6em -3em 0 0 red,
    6em -4em 0 0 red,
    6em -5em 0 0 red;

    background: red;
    display: block;
    margin: 10em auto 7em auto;
    overflow: hidden;
    width: 1em;
    height: 1em;
  }

/* Für Browser, die box-shadow nicht (ganz) verstehen: */
/* 1) fuer explorer 8/7
/* 2) ohne javascript */
/* 3) fuer alle, die es per modernizr zugeben */
/* 4) fuer ff3/Safari5/Opera11 per ua-sniffer */
.lt-ie9 .hund,
.no-js .hund,
.no-boxshadow .hund,
.rhd-no-boxshadow .hund {
    background: #fff url("images/hund.gif") 50% 50% no-repeat;
    box-shadow: none;
    margin: 2em auto 2em auto;
    width: 141px;
    height: 111px;
}
