#lang_sel_list {
  position: absolute;
  top: 0;
  right: 0;
}
#lang_sel_list li {
  display: inline-block;
}
#lang_sel_list li a {
  background: rgba(0,0,0,.05);
  display: block;
  font-size: .8em;
	font-variant: small-caps;
	letter-spacing: .1em;
  padding: 1em;

}
#lang_sel_list li a:hover {
  background: rgba(0,0,0,.75);
}
html[lang|="en"] #lang_sel_list li.icl-en,
html[lang|="de"] #lang_sel_list li.icl-de {
  display: none;
}
