.imglink {
  cursor: pointer;
  display: block;
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.lis-img {
  background: #f1f1f1;
  border: 1px solid #a0a0a0;
  margin: 1em;
  padding: 5px;
  max-height: 90%;
}