.lt-ie7 .circle,
.lt-ie7 .triangle {
  display: none;
}

.lt-ie7 #to-top {
  position: absolute !important;
}

.lt-ie8 .elsewhere__list {
  clear: both;
}
.lt-ie8 .elsewhere__list li {
  display: block;
  float: left;
}